article{ background:#fafafa; }

section{ width:1200px;
		 margin:0 auto; 
}

section nav p{ color:#29b078;
			   font-size:1.6rem;
			   padding:2% 0;
			   border-bottom:1px solid #d0d6d9;
 }

section nav p a{ color:black;
			     text-decoration:none;
}

section nav ul{ border-bottom:1px solid #edf1f2; 
				padding:1% 0;
}

section nav ul:before{ content:"方向：";
                       color:#d0d6d9;
                       font-size:1.4rem;
                       float:left;
                       padding:8px 0;

}

section nav ul:after{  content:"";
					   width:0;
					   display:block;
					   clear:both;

}

section nav ul li{ list-style:none;
				   float:left;

 }

section nav ul li a{ text-decoration:none;
					 color:black;
					 font-size:1.4rem;
					 display:inline-block;
					 padding:8px 20px;
 }

 section nav ul li a:hover{ background:#29b078;
					        color:white;
 }

 section .part1 h2, section .part2 h2, section .part3 h2, section .part4 h2{ border-bottom:1px solid #d0d6d9;
																			 padding:2.5% 0;
																			 font-size:1.6rem;
  }

section .part1 ul, section .part2 ul, section .part3 ul, section .part4 ul{ overflow:hidden;
																			margin-top:30px;
}

li.show{ list-style:none;
		 background:white;
		 width:382px;
		 float:left;
		 box-shadow:0 0 2px gray;
		 position:relative;
		 margin:2% 0;
 }

li.show table{ border-collapse:collapse;}

li.show table th{ border-bottom:1px solid #edf1f2;
				  font-weight:normal;
				  font-size:1.4rem;
				  word-wrap:break-word;
				  padding:10% 1% 10% 155px;
				  vertical-align:middle;
				  background:url(imagestask8/portrait.gif) no-repeat 10px 50%;
}

li.show table th span{ font-weight:bold;
					   font-size:1.6rem;
}

li.show table td{ padding:2.5%;
				  font-size:1.2rem;
				  border:1px solid #edf1f2;
				  width:50%;
} 

li.show table td img{ vertical-align:-20%;}

li.show table td span{ color:red;}

li.show table:nth-child(2) td{ width:auto;}

li.show table:nth-child(2) td.left{  width:28%; 
									 border-right:none;
}

li.show table:nth-child(2) td.right{ width:28%;
									 border-left:none;
									 text-align:right;
}

li.show table:nth-child(2) td.learner{ font-size:1.4rem;
									   font-weight:bold;
}

li.show table:nth-child(2) td.tip{ font-size:1.2rem;}

li.show div{ position:absolute;
			 top:0;
			 width:100%;
			 height:100%;
			 background:rgba(0,0,0,0.7);
			 color:white;
			 text-align:center;
			 -webkit-transform:rotateY(-90deg);
			 -webkit-transition:transform 2s;
			 -o-transform:rotateY(-90deg);
			 -o-transition:transform 2s;
			 -moz-transform:rotateY(-90deg);
			 -moz-transition:transform 2s;
			 -ms-transform:rotateY(-90deg);
			 -ms-transition:transform 2s;
			 transform:rotateY(-90deg);
			 transition:transform 2s;
}

li.show:hover div{ -webkit-transform:rotateY(360deg);
				   -o-transform:rotateY(360deg);
				   -moz-transform:rotateY(360deg);
				   -ms-transform:rotateY(360deg);
				   transform:rotateY(360deg);
}

li.show div p{ padding:0 5%;
			   font-size:1.6rem;
			   line-height:1.5;
			   margin-top:105px;
}

section .part1 ul li:nth-child(2),section .part2 ul li:nth-child(2),section .part2 ul li:nth-child(5),section .part3 ul li:nth-child(2)
{ margin:2%;}

.part4{ padding:0 0 10% 0;}