*{ margin:0;
   padding:0;
}

html{ background-color:#eff0f4;
      font-family:"STHeiti SC", sans-serif;
      font-size:10px;
}

body{ min-width:320px;}

a{ text-decoration:none;
   color:white;
   font-size:3.2rem;
 }

a:hover{ color:black;}

#aleft{ float:left;
        margin-left:2%;
        }

#aright{ float:right;
         margin-right:2%;
         }

header{ text-align:center;
        background-color:#5fc0cd;
        padding:10px 0;
        color:white;
        overflow:hidden;
      }

header>p{ display:inline-block;
          font-size:3.6rem;
        }


label{ display:block;
       margin-top:15px;
       font-size:0;
}

img{ width:120px;
     height:100px;
     vertical-align:middle;
}

input[type="text"],input[type="password"]{ width:-webkit-calc(100% - 120px);
                                           width:-moz-calc(100% - 120px);
                                           width:calc(100% - 120px);
                                           height:100px;
                                           font-size:3.2rem;
                                           text-indent:2rem;
                                           border:0 none;
                                           vertical-align:middle;
                  }      

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { /* WebKit browsers */

color:#e1e5e7;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */

color:#e1e5e7;
}

input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder{ /* Mozilla Firefox 19+ */

color:#e1e5e7;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder{ /* Internet Explorer 10+ */

color:#e1e5e7;
}


button{  
         width:100%;
         height:100px;
         margin-top:70px;
         font-size:3.6rem;
         color:white;
         background-color:#5fc0cd;
       }      

aside>a{ color:#5fc0cd;
         font-size:3.2rem;
         text-decoration:none;
         float:right;
         margin:15px 20px;
       }        

aside>a:hover{ color:white;}                     

@media screen and (max-width:420px){

  html{ font-size:7px;}
}