html,body{
     padding:0;
     margin:0;
     height:100%;
}

img{ max-width:100%; }

article{
       background-color:#68cdd5;
       color:#FFFFFF;
       width:100%;
       max-width:35rem;
       margin: 0 auto;
       height:100%;
}

nav{ 
	width:13%;
	max-width:62px;
	padding:2% 0 0 2%;
 }

section{ margin-top:3%; }

header{
	   text-align:center;
	   width:35%;
	   max-width:196px;
	   margin:0 auto;
}

p.content{   
	text-align:center;
	font-size:1.2rem;
	font-weight:bold;
	width:55%;
	margin: 8% auto 0;
	line-height:2rem;
}

footer{ 
       text-align:center; 
       margin-top:28%;
}

div.left{
	     width:47%;
	     display:inline-block;
	     text-align:center;
}

div.right{
	      width:47%;
	     display:inline-block;
	     text-align:center;
}

div.left img{	                 
	        width:35%;	   
	        max-width:84px;
}

div.right img{	                 
	        width:35%;	   
	        max-width:84px;
}

div.left p{	margin:1% 0 0 0;}

div.right p{ margin:1% 0 0 0;}
