*{ margin:0;
   padding:0;
}

img{ max-width:100%;
}   

article{ width:100%;
         min-width:320px;
         max-width:720px;
         margin:0 auto;
     }

header{ background-color:#5fc0cd;
	    background-image:url(../images/imagestask5/locate2.png);
	    background-repeat:no-repeat;
	    background-position:98% 50%;
      background-size:2.5rem;
        font-size:0;
        padding:2% 0 1% 0;
        text-align:center;
    }        

header a{ display:inline-block;
          padding:1rem 2rem;
          color:white;
          border-radius:7px 0 0 7px;
          background-color:#55a8b3;
          text-decoration:none;
          font-size:1.8rem;
      }  

#fnurse{ background-color:#fff;
         color:#5fc0cd;
         border-radius:7px;
         margin-left:-0.5rem;
     }

section#choose{ padding:0 0.5%;
                font-size:0;
                border-bottom: 1px solid #afbac0;
            }

section#choose>div{ display:inline-block;
                    width:33%;
                    font-size:1.5rem;
                    color:#afbac0;
                    height:2rem;
                    line-height:2rem;
                    text-align:center;
                    padding:2% 0;
                    border-right:1px solid #afbac0;
                    background:url(../images/imagestask5/downbutton.png) no-repeat;
                    background-position:98% 50%;
                    background-size:1.2rem;
                  }
           
section#choose div#deletebor{ border-right:none;}

ul{ list-style-type:none;
    margin-bottom:30%;}

li{ padding:2% 0 2% 3%;
    border-bottom:1px solid #afbac0;
    position:relative;
}          

li div{ width:1.3rem;
        display:inline-block;
        vertical-align:middle;
      }

li div img{ vertical-align:middle;}      

p.mainin{ font-size:1.5rem;
          font-weight:bold; 
          text-indent:2rem;
          padding:0.5% 0;
        }

p.extrain{ display:inline-block; 
           vertical-align:middle;
           font-size:1.3rem;
           color:#afbac0;
         }        

p.worktime{ position:absolute;
            right:0;
            top:50%;
            -webkit-transform:translate(0,-50%);
            -moz-transform:translate(0,-50%);
            -o-transform:translate(0,-50%);
            transform:translate(0,-50%);
            color:red;
            font-size:1.5rem;
            font-weight:bold;
            padding:0.5% 2% 0.5% 0; 
          }         

p.worktime span{ color:#5fc0cd; }  

footer{ background-color:#f8fafb;
        position:fixed;
        bottom:0;
        width:100%;
        max-width: 720px;
        min-width:320px;
        padding:0.5% 0;
        }

footer>div{ width:90%;
            margin:0 auto;
            text-align:center;
            display:table;
            }

div.part1{ width:32%;
           text-align:center;
           vertical-align:middle;
           display:table-cell;
           }

div.part1 div{ width:60%;
               text-align:center;
               display:inline-block;
         }                    

div.part1 div img{ width:40%;}

div.part1 p{ width:60%;
	         font-size:1.3rem;
             text-align:center;
             display:inline-block;
             color:#5fc0cd;
             padding-top:3%;
         } 

div.part2{ width:14%;
           display:table-cell;
           background-color:#5fc0cd;
           padding:4% 0;
           border-radius:50%;
           text-align:center;
           vertical-align:middle;
           } 

div.part2 img{ width:50%;}           
                            
#colorchange{ color:#afbac0;}

@media screen and (max-width:480px) {
 html,body{ font-size:62.5%;}
 }
