body,html{ margin:0;
           width:100%;}

#aleft{ position:absolute;
        left:2%;
        font-size:1.5rem;
        display:inline-block;
        text-decoration:none;
        color:white;
        line-height:38px;
        }

#aright{ position:absolute;
         right:2%;
         font-size:1.5rem;
         display:inline-block;
         text-decoration:none;
         color:white;
         line-height:38px;
         }

header{ text-align:center;
        background-color:#5fc0cd;
        padding:5px 0;
        color:white;}

header p{ display:inline-block;
          font-size:2rem;
          font-weight:bold;
          margin:0;}

section{ background-color:#eff0f4;
         padding-top:1px; }

.number{ background-color:white;
         margin-top:10px; 
         height:60px;}

.number img{ width:60px; 
	           height:60px; 
             }

.lock{ background-color:white;
           margin-top:10px; 
           height:60px;}

.lock img{ width:60px;
             height:60px; 
            }

input[type="text"],input[type="password"]{ line-height:50px;
                    font-size:1.2rem;
                    position:relative;
                    top:-23px;
                    border:0 none;
                    padding:0;}      


.button{ 
         height:65px;
         margin-top:60px;
         text-align:center;}

input[type="submit"]{ width:100%;
                      line-height:65px;
                      font-size:2rem;
                      font-weight:bold;
                      color:white;                    
                      background-color:#5fc0cd;
                      border:0 none;
                      padding:0;} 


.forget{ color:#5fc0cd;
         font-size:1.5rem;
         text-decoration:none;
         position:absolute;
         right:10px;
         margin-top:10px;}                      

