*{ margin:0;
   padding:0;
}

html{ font-size:10px;
	  font-family:"Microsoft YaHei",sans-serif;
}

img{ max-width:100%;}

article{ width:1440px;
		 margin:0 auto;
}

header{ background:white;}

header h4{ color:#29b078;
		   font-size:1.4rem;
		   width:1200px;
		   height:40px;
		   line-height:40px;
		   margin:0 auto;	   
}

header h4 span{ float:right;
				margin-top:5px;
}			

header h4 span a{ float:left;
				  padding:15px;
				  margin-right:15px;
}

#weixin{ background:url(imagestask7/sprite1.png) no-repeat 0 0;}

#qq{ background:url(imagestask7/sprite1.png) no-repeat -56px 0;}

#weibo{ background:url(imagestask7/sprite1.png) no-repeat -112px 0;}

header>nav{ background:#29b078;
			
}

header div{ width:1200px;
			padding:3.1% 0;
			text-align:right;
			margin:0 auto;
}

header div img{ height:49px;
				float:left;
				margin-top:-13px;
}

header div a{ color:white;
			  font-size:1.6rem;
			  text-decoration:none;
              padding:39.5px 34.5px 39px;
}

header div a:hover{ border-bottom:4px solid white;}

footer{ background:#26a26f;
		color:white;
		padding-top:2%;
}

footer div{ width:1200px;
			margin:0 auto 20px;
			overflow:hidden;
}

footer div p{ float:left;
		      width:35%;
		      font-size:1.6rem;
}

footer div p a{ color:white;
				text-decoration:none;
				font-size:1.4rem;
				display:inline-block;
				padding-bottom:5px;
}

footer div p a:hover{ border-bottom:1px solid white;}

#secondcode{ float:right;
			 width:auto;
			 font-size:1.6rem;
			 text-align:center;
}

#sprite2code{ background:url(imagestask7/sprite1.png) no-repeat -216px -695px;
			  display:inline-block;
			  width:92px;
			  height:92px;
			  margin-top:5px;
}

aside{ border-top:1px solid #32c086;
	   padding:8px 0;
	   text-align:center;
}

aside span{ font-size:1.5rem;
			vertical-align:middle;
}