header h1{ color:white;
	       font-size:2rem;
	       font-weight:normal;
	       text-align:center;
}

header a{ display:inline-block;
		  padding:0 2%;
		  float:right;
}

header a img{ vertical-align:middle;
			  width:2.5rem;	
}

header a:first-child{ float:left;}

section{ padding:2% 12%;
		 border-top:1px solid white;
		 border-bottom:1px solid black;
		 background-color:#29bde0;
}

section div{ text-align:center;}

section div img{ width:80%;}

section h2{ color:#ffc865;
	        margin-bottom:8%;
	        text-align:left;
	        font-size:1.6rem;
}

section p, section ul{ color:white;
					   font-size:1.3rem;
} 

section p{ padding:1% 0}

section li{ list-style-type:none;
			display:inline-block;
			width:29%;
			padding:1% 2% 1% 0;
}


#date li{ list-style-type:none;
		  border-bottom:1px solid #a6a6a6;
		  padding:2% 12%;
	      background-color:white;
}

#date li p{ color:#a6a6a6;
			font-size:1.4rem;
			padding:0.5% 0;
}

#date li span{ 
			   font-size:1rem;
			   height:1.3rem;
			   line-height:1.3rem;
			   color:#a6a6a6;
			   position:absolute;
			   top:50%;
			   right:0;
			   -webkit-transform:translate(0,-30%);
			   -moz-transform:translate(0,-30%);
			   -o-transform:translate(0,-30%);
			   -ms-transform:translate(0,-30%);
			   transform:translate(0,-30%);
}

#date li h3{ font-size:1.8rem;
			 height:2.2rem;
			 line-height:2.2rem;
			 margin:0 0 3% 0;
			 position:relative;
}

#date li:last-child{ margin-bottom:20%;}

footer{ position:fixed;
	    bottom:0;
	    background-color:rgba(41,189,224,0.5);
	    padding:1% 0;
	    width:100%;
	    text-align:center;
	    max-width:720px;
	    min-width:315px;
}

footer a{ display:inline-block;
          padding:2%;
          margin:2%;
          background-color:#fbb435;
          width:40%;
          color:white;
          font-size:2rem;
          border-radius:10px;
}

footer a:first-child{ background-color:#f66f6f;}