body{ background-color:#29bde0 }

header h1{ text-align:center;
	       color:white;
	       font-size:2.5rem;
	       font-weight:normal;
}

a.bgd{ background-image:url(imagestask6/sprite.png);
       background-repeat:no-repeat;
}

header a{ float:right;
		  display:inline-block;
		  width:3rem;
		  color:white;
		  font-size:3rem;
		  text-align:center;
		  margin:0 2%;
}

header a:first-child{ float:left;}

header img{ width:80%;}

section{ position:relative; }

section p{ background-color:#b9e9f5; 
		   padding:3% 2%;
		   text-indent:2.5rem;
		   font-size:1.3rem;
}

section a{ display:inline-block;
		   position:absolute;
		   top:50%;
		   right:3%;
		   -webkit-transform:translate(0,-50%);
		   -moz-transform:translate(0,-50%);
		   -o-transform:translate(0,-50%);
		   -ms-transform:translate(0,-50%);
		   transform:translate(0,-50%);
	       background-color:#fbb435;
           width:40px;
           height:40px;
           border-radius:50%;
           background-position:8px -65px;
}

section audio{ display:none; }

section a:hover audio{ display:inline-block; }

div{ color:white;
	 font-size:1.2rem;
	 margin-left:5rem;
	 padding:2% 0;
	 position:relative;
}

div span{ position:absolute;
		  top:0;
		  left:1rem；
		  width:1rem;
}

div span img{ vertical-align:top; }

ul{ padding-bottom:25%; }

li{ list-style-type:none;
	display:inline-block;
	position:relative;
	width:21%;
	margin:4% 4%;
	border:0.4rem solid white;
}

li p{ background-color:#83b09a; 
	  padding:10% 50%;
	  position:relative;
}

li p:first-child{ background-color:#f5c97b; 
				  padding:40% 50%;
}

li p span{ font-size:2.5rem;
		   display:inline-block;
		   width:100%;
		   text-align:center;
		   position:absolute;
		   top:50%;
		   left:50%; 
		   -webkit-transform:translate(-50%,-50%);
		   -moz-transform:translate(-50%,-50%);
		   -o-transform:translate(-50%,-50%);
		   -ms-transform:translate(-50%,-50%);
		   transform:translate(-50%,-50%);
}

li p span.number{ color:white;
				  font-size:1.8rem;
}

ul li ul{ position:absolute; 
	      width:300%;
	      top:110%;
}

ul li ul li{ display:inline-block; 
			 border:none;
			 margin:0 0.5%;
			 width:auto;
}

ul li ul li a{ display:inline-block;
   			   width:30px;
			   height:30px;
 }

a.kill{ background-position:0 -117px; }

a.search{ background-position:0 -28px; }

a.aim{ background-position:0 -163px; }

a.save{ background-position:0 -207px; }

footer{ position:fixed;
		bottom:0;
		padding:2% 0;
		background-color:rgba(41,189,224,0.4);
		width:100%;
	    min-width:315px;
	    max-width:720px;
	    text-align:center;
 }

footer button{ background-color:#fbb435;
			   color:white;
			   font-size:2rem;
			   padding:2% 25%;
 } 