*{ margin:0;
   padding:0;
}

html{ 
	  font-family:"Hiragino Sans GB", sans-serif;
	  font-size:10px;
}

html,body{ height:100%;}

img{ max-width:100%; }

article{
	     background-color:#68cdd5;
	     color:#FFFFFF;
	     max-width:640px;
	     margin: 0 auto;
	     min-height:100%;
}

nav{ 
	width:15%;
	padding:2% 0 0 2%;
 }

section{ margin-top:5%; }

header{
	    text-align:center;
	    width:40%;
	    margin:0 auto;
}

header+p{   
		  font-size:3rem;
		  width:71%;
		  margin: 10% auto 0;
		  line-height:1.8;
}  

footer{ 
       overflow:hidden; 
       margin-top:15%;
}

footer>div{
	        width:50%;
	        float:left;
	        text-align:center;
}


footer>div>div{	                 
			    width:50%;
			    display:inline-block;	   
}

footer>div>p{ 
			  margin-top:2%;
			  font-size:2.4rem;
}

@media screen and (max-width:450px){
	html{ font-size:7px;}
}



